---
name: Upload Python Package to PyPI

on:
  release:
    types:
    - published

jobs:
  publish_to_pypi:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.10"

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Build package
      run: uv build

    - name: List build
      run: ls -la dist/

    - name: Publish package in PyPI
      run: uv publish --token ${{ secrets.PYPI_API_TOKEN }}
